In [29]:
import pandas as pd

literacy_rate_youth=pd.read_csv(r'C:\Users\nikap\Desktop\Data\Data\Pismenost stanovnistva\literacy_rate_youth_total_percent_of_people_ages_15_24.csv')
literacy_rate_adult=pd.read_csv(r'C:\Users\nikap\Desktop\Data\Data\Pismenost stanovnistva\literacy_rate_adult_total_percent_of_people_ages_15_and_above.csv')
out_of_school_children=pd.read_csv(r'C:\Users\nikap\Desktop\Data\Data\Pismenost stanovnistva\out-of-school-children-of-primary-school-age-by-world-region.csv')

In [30]:
literacy_rate_youth=literacy_rate_youth.dropna()
literacy_rate_youth

Empty DataFrame
Columns: [country, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011]
Index: []

[0 rows x 38 columns]