In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

filmovi_data=pd.read_csv(r'C:\Users\nikap\Desktop\Data\Data\Filmovi\movie_dataset.csv')

In [81]:
filmovi_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [82]:
filmovi_data.describe()

,index,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4803.000000,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2401.000000,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,1386.651002,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,1200.500000,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,2401.000000,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,3601.500000,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,4802.000000,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [83]:
filmovi_data.corr(numeric_only=True)

,index,budget,id,popularity,revenue,runtime,vote_average,vote_count
index,1.000000,-0.761579,0.190771,-0.414342,-0.522110,-0.319370,-0.120157,-0.442207
budget,-0.761579,1.000000,-0.089377,0.505414,0.730823,0.269851,0.093146,0.593180
id,0.190771,-0.089377,1.000000,0.031202,-0.050425,-0.153536,-0.270595,-0.004128
popularity,-0.414342,0.505414,0.031202,1.000000,0.644724,0.225502,0.273952,0.778130
revenue,-0.522110,0.730823,-0.050425,0.644724,1.000000,0.251093,0.197150,0.781487
runtime,-0.319370,0.269851,-0.153536,0.225502,0.251093,1.000000,0.375046,0.271944
vote_average,-0.120157,0.093146,-0.270595,0.273952,0.197150,0.375046,1.000000,0.312997
vote_count,-0.442207,0.593180,-0.004128,0.778130,0.781487,0.271944,0.312997,1.000000

In [84]:
pc_data=pd.read_csv(r'C:\Users\nikap\Desktop\Data\Data\Trziste racunala i pametnih telefona\personal_computers_total.csv')
cell_phones_data=pd.read_csv(r'C:\Users\nikap\Desktop\Data\Data\Trziste racunala i pametnih telefona\cell_phones_total.csv')
countries_data=pd.read_csv(r'C:\Users\nikap\Desktop\Data\Data\Trziste racunala i pametnih telefona\facts_countries.csv', delimiter=";")

In [100]:
pc_data.dropna(axis="columns",how="all")
pc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  196 non-null    object
 1   1990     61 non-null     object
 2   1991     65 non-null     object
 3   1992     70 non-null     object
 4   1993     78 non-null     object
 5   1994     91 non-null     object
 6   1995     109 non-null    object
 7   1996     116 non-null    object
 8   1997     131 non-null    object
 9   1998     150 non-null    object
 10  1999     157 non-null    object
 11  2000     163 non-null    object
 12  2001     184 non-null    object
 13  2002     184 non-null    object
 14  2003     183 non-null    object
 15  2004     183 non-null    object
 16  2005     177 non-null    object
 17  2006     100 non-null    object
dtypes: object(18)
memory usage: 27.7+ KB

In [105]:
cell_phones_data[cell_phones_data[country]=="Hong Kong"]

NameError: name 'country' is not defined

In [95]:
countries_data["Public debt(% of GDP)"]=countries_data["Public debt(% of GDP)"].astype("float32")
countries_data["Public debt(% of GDP)"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 107 entries, 0 to 106
Series name: Public debt(% of GDP)
Non-Null Count  Dtype
--------------  -----
107 non-null    float32
dtypes: float32(1)
memory usage: 560.0 bytes

In [96]:
countries_data
countries_data=countries_data.drop(0)
countries_data=countries_data[~countries_data["Public debt(% of GDP)"].isna()].reset_index(drop=True)
countries_data.sort_values(by=["Public debt(% of GDP)"])

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
31,Hong Kong,1092,7.23,14850000000,5.98,417600000000,38450000000,35510000000,268100000000,234500000000,...,0,NaN,6898686,2.100000,NaN,123600000000,3801300,7241400,0.91,6.70
90,Tanzania,945087,38.16,-327400000,16.71,7321000000,2566000000,2727000000,1248000000,23710000000,...,0,0,36766356,5.000000,3690,2175000000,149100,891200,5.06,NaN
23,Estonia,45226,9.91,-1169000000,13.21,8373000000,6358000000,8301000000,5701000000,19230000000,...,5100,NaN,1332893,5.400000,958,1503000000,475000,881000,1.39,9.60
6,Botswana,600370,23.33,337000000,29.36,531000000,1890000000,930000000,2940000000,15050000000,...,0,NaN,1640115,8.600000,888,5700000000,142400,435000,2.85,23.80
49,Libya,1759540,26.82,9895000000,3.48,4069000000,19430000000,20890000000,18650000000,37480000000,...,1518000,38000000000,5765563,8.800000,NaN,24180000000,750000,100000,3.34,30.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,Zambia,752614,41.38,-181400000,20.23,5353000000,5345000000,8167000000,1548000000,9409000000,...,0,NaN,11261795,127.500000,2173,345000000,88400,241000,5.47,50.00
40,Jamaica,10991,16.56,-830700000,5.37,5964000000,5849000000,6289000000,1679000000,11130000000,...,0,NaN,2731832,146.100006,272,1400000000,444400,1400000,1.95,15.00
41,Japan,377835,9.47,170200000000,8.95,NaN,971000000000,1044000000000,538800000000,3745000000000,...,17330,29290000,127417244,164.300003,23705,664600000000,71149000,86658600,1.39,4.70
48,Lebanon,10400,18.88,-2389000000,6.24,15840000000,8591000000,8066000000,1783000000,18830000000,...,0,NaN,3826018,177.899994,401,16300000000,678800,775100,1.92,18.00
52,Malawi,118480,43.95,-55500000,23.39,3129000000,1012000000,1088000000,503400000,7410000000,...,0,NaN,12158924,228.300003,797,160500000,85000,135100,5.98,NaN

In [99]:
pc_data[pc_data.country=="Hong Kong"].plot()

TypeError: no numeric data to plot