In [ ]:
def median(list):
    list.sort()
    n=len(list)
    if n==0:
        median=-1
    elif n%2==0:
        median=(list[n//2]+list[n//2-1])/2
    else:
        median=list[n//2+1]

    return median

In [ ]:
def izracunaj_range(lista):
    lista_sortirana=sorted(list)
    max_element=lista_sortirana[len(list)-1]
    min_element=lista_sortirana[0]

    return max_element, min_element

In [1]:
list=[1,2,3,4]
len(list)

4

In [6]:
def izracunaj_range(list):
    for i in range(0,len(list)):
        if list[i]<0:
            list[i]=abs(list[i])
    return max(list)-min(list)

In [ ]:
list=[-1,2,5,6]
izracunaj_range(list)

5

In [10]:

def izracunaj_frekvencije (list):
    dict={}
    for elem in list:
        if elem in dict.keys():
            dict[elem]=dict[elem]+1
        else:
            dict[elem]=1

    return dict

In [12]:
list=[-1,2,5,6,6,6,-1, 3]
izracunaj_frekvencije(list)

{-1: 2, 2: 1, 5: 1, 6: 3, 3: 1}

In [15]:
def izracunaj_mod(list):
    brojac=izracunaj_frekvencije(list)
    mod_vrijednost=max(brojac.values())
    mod_kljuc=[]
    for key,value in brojac.items():
        if value==mod_vrijednost:
            mod_kljuc.append(key)
    return mod_kljuc

In [17]:
list=[-1,2,5,6,6,6,-1, 3,3,3]
izracunaj_mod(list)

[6, 3]

In [32]:
def kalkuliraj_kvantil(broj_kvantila,list):
    duljina=len(list)
    kvantil_index=(len(list)+1)*(broj_kvantila)//4

    return list[kvantil_index], kvantil_index

In [33]:
list=[-1,2,5,6,6,6,-1, 3,3,3]

kalkuliraj_kvantil(3,list)

(3, 8)

In [72]:
import pandas as pd
podaci=pd.read_csv(r'C:\Users\nikap\Downloads\Data\Data\Pismenost stanovnistva\literacy_rate_youth_total_percent_of_people_ages_15_24.csv')
podaci=podaci.set_index("country")

In [73]:
podaci=podaci.transpose()
podaci

country,Aruba,Afghanistan,Angola,Anguilla,Albania,Netherlands Antilles,United Arab Emirates,Argentina,Armenia,Azerbaijan,...,Uruguay,Uzbekistan,Venezuela,Vietnam,Vanuatu,Samoa,Yemen,South Africa,Zambia,Zimbabwe
1975,NaN,NaN,NaN,NaN,NaN,NaN,63.0,NaN,NaN,NaN,...,98.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1979,NaN,30.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,95.0,71.8,NaN,NaN,NaN,NaN,NaN
1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.2,NaN,NaN
1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,93.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.0
1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,99.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985,NaN,NaN,NaN,NaN,NaN,NaN,82.5,NaN,NaN,NaN,...,98.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.9,NaN,...,NaN,NaN,NaN,93.7,NaN,NaN,NaN,NaN,NaN,NaN
1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,95.4,NaN,NaN,NaN,NaN,NaN,66.4,NaN
1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,99.0,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,NaN,NaN,97.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.4
1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,86.3,NaN,60.2,NaN,NaN,NaN
1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.6,NaN,NaN,NaN,NaN,NaN,NaN,93.9,NaN,NaN
1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.9,...,NaN,NaN,NaN,93.9,NaN,NaN,NaN,NaN,69.5,NaN
2000,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,99.9,NaN,94.8,NaN,NaN,NaN,NaN,NaN,NaN
2001,NaN,NaN,72.2,NaN,99.4,NaN,NaN,98.9,99.8,NaN,...,NaN,NaN,97.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.1,NaN
2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,92.0,99.4,76.9,NaN,NaN,NaN
2005,NaN,NaN,NaN,NaN,NaN,NaN,95.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,...,98.8,NaN,98.4,NaN,NaN,NaN,NaN,97.6,64.0,NaN
2008,NaN,NaN,NaN,NaN,98.8,NaN,NaN,NaN,NaN,NaN,...,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,...,99.0,NaN,98.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010,99.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011,NaN,NaN,73.0,NaN,98.8,98.5,NaN,99.2,99.8,NaN,...,NaN,99.9,NaN,97.1,94.6,99.5,86.4,98.8,NaN,90.9

In [74]:
podaci.index

Index(['1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011'],
      dtype='object')

In [75]:
podaci.Aruba

1975     NaN
1976     NaN
1977     NaN
1978     NaN
1979     NaN
1980     NaN
1981     NaN
1982     NaN
1983     NaN
1984     NaN
1985     NaN
1986     NaN
1987     NaN
1988     NaN
1989     NaN
1990     NaN
1991     NaN
1992     NaN
1993     NaN
1994     NaN
1995     NaN
1996     NaN
1997     NaN
1998     NaN
1999     NaN
2000    99.0
2001     NaN
2002     NaN
2003     NaN
2004     NaN
2005     NaN
2006     NaN
2007     NaN
2008     NaN
2009     NaN
2010    99.1
2011     NaN
Name: Aruba, dtype: float64

In [76]:
podaci.Aruba=podaci.Aruba.fillna(0.0)
podaci.Aruba

1975     0.0
1976     0.0
1977     0.0
1978     0.0
1979     0.0
1980     0.0
1981     0.0
1982     0.0
1983     0.0
1984     0.0
1985     0.0
1986     0.0
1987     0.0
1988     0.0
1989     0.0
1990     0.0
1991     0.0
1992     0.0
1993     0.0
1994     0.0
1995     0.0
1996     0.0
1997     0.0
1998     0.0
1999     0.0
2000    99.0
2001     0.0
2002     0.0
2003     0.0
2004     0.0
2005     0.0
2006     0.0
2007     0.0
2008     0.0
2009     0.0
2010    99.1
2011     0.0
Name: Aruba, dtype: float64

In [77]:
podaci.Vietnam=podaci.Vietnam.fillna(podaci.Vietnam.median())
podaci.Vietnam

1975    94.8
1976    94.8
1977    94.8
1978    94.8
1979    95.0
1980    94.8
1981    94.8
1982    94.8
1983    94.8
1984    94.8
1985    94.8
1986    94.8
1987    94.8
1988    94.8
1989    93.7
1990    94.8
1991    94.8
1992    94.8
1993    94.8
1994    94.8
1995    94.8
1996    94.8
1997    94.8
1998    94.8
1999    93.9
2000    94.8
2001    94.8
2002    94.8
2003    94.8
2004    94.8
2005    94.8
2006    94.8
2007    94.8
2008    94.8
2009    94.8
2010    94.8
2011    97.1
Name: Vietnam, dtype: float64

In [78]:
podaci.Uruguay=podaci.Uruguay.fillna(podaci.Uruguay.median())
podaci.Uruguay

1975    98.30
1976    98.75
1977    98.75
1978    98.75
1979    98.75
1980    98.75
1981    98.75
1982    98.75
1983    98.75
1984    98.75
1985    98.60
1986    98.75
1987    98.75
1988    98.75
1989    98.75
1990    98.75
1991    98.75
1992    98.75
1993    98.75
1994    98.75
1995    98.75
1996    98.60
1997    98.75
1998    98.75
1999    98.75
2000    98.75
2001    98.75
2002    98.75
2003    98.75
2004    98.75
2005    98.75
2006    98.70
2007    98.80
2008    99.00
2009    99.00
2010    98.80
2011    98.75
Name: Uruguay, dtype: float64

In [59]:
podaci.head(2)

country,Aruba,Afghanistan,Angola,Anguilla,Albania,Netherlands Antilles,United Arab Emirates,Argentina,Armenia,Azerbaijan,...,Uruguay,Uzbekistan,Venezuela,Vietnam,Vanuatu,Samoa,Yemen,South Africa,Zambia,Zimbabwe
1975,0.0,0.0,NaN,NaN,NaN,NaN,63.0,NaN,NaN,NaN,...,98.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
podaci.Uzbekistan=podaci.Uzbekistan.ffill()
podaci.Uzbekistan

1975     NaN
1976     NaN
1977     NaN
1978     NaN
1979     NaN
1980     NaN
1981     NaN
1982     NaN
1983     NaN
1984     NaN
1985     NaN
1986     NaN
1987     NaN
1988     NaN
1989     NaN
1990     NaN
1991     NaN
1992     NaN
1993     NaN
1994     NaN
1995     NaN
1996     NaN
1997     NaN
1998     NaN
1999     NaN
2000    99.9
2001    99.9
2002    99.9
2003    99.9
2004    99.9
2005    99.9
2006    99.9
2007    99.9
2008    99.9
2009    99.9
2010    99.9
2011    99.9
Name: Uzbekistan, dtype: float64

In [85]:
podaci.Samoa=podaci.Samoa.bfill()
podaci.Samoa

1975    99.0
1976    99.0
1977    99.0
1978    99.0
1979    99.0
1980    99.0
1981    99.0
1982    99.0
1983    99.0
1984    99.0
1985    99.0
1986    99.0
1987    99.0
1988    99.0
1989    99.0
1990    99.0
1991    99.0
1992    99.4
1993    99.4
1994    99.4
1995    99.4
1996    99.4
1997    99.4
1998    99.4
1999    99.4
2000    99.4
2001    99.4
2002    99.4
2003    99.4
2004    99.4
2005    99.5
2006    99.5
2007    99.5
2008    99.5
2009    99.5
2010    99.5
2011    99.5
Name: Samoa, dtype: float64

In [84]:
podaci["South Africa"]=podaci["South Africa"].interpolate(method="linear").ffill().bfill()
podaci["South Africa"]

1975    85.200000
1976    85.200000
1977    85.200000
1978    85.200000
1979    85.200000
1980    85.200000
1981    85.743750
1982    86.287500
1983    86.831250
1984    87.375000
1985    87.918750
1986    88.462500
1987    89.006250
1988    89.550000
1989    90.093750
1990    90.637500
1991    91.181250
1992    91.725000
1993    92.268750
1994    92.812500
1995    93.356250
1996    93.900000
1997    94.236364
1998    94.572727
1999    94.909091
2000    95.245455
2001    95.581818
2002    95.918182
2003    96.254545
2004    96.590909
2005    96.927273
2006    97.263636
2007    97.600000
2008    97.900000
2009    98.200000
2010    98.500000
2011    98.800000
Name: South Africa, dtype: float64

In [ ]:
podaci.Samoa=podaci.Samoa
podaci.Samoa